<div style="display: flex;justify-content: center;">
    <button id="infoCookies" style="border-radius: 8px;height: 25px;width: 120px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;margin-top: 20px;">cookieExtractor</button>
</div>
<div id="userContainer"></div>

<script src="/js/cookieExtractor.js"></script>
