<h2 style="color: rgb(212, 14, 107);text-align: center;margin: 125px 0;font-family: cursive;font-size: 45px;background: #000;">ESTE USUARIO YA EXISTE</h2>
<div style="display: flex;justify-content: center;margin-top: 100px;">
    <button type="submit" onclick="location.href='/views/login'"
        style="border-radius: 8px;height: 25px;width: 100px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;">Ir
        a login</button>
</div>