<body style="background-image: url('./images/giphy.gif'); ">
<h1 style="color: rgb(212, 14, 107);background: #000;text-align: center;margin: 110px 0;font-family: cursive;font-size: 40px;">Debe rellenar los campos correctamente </h1>
<div style="display: flex;justify-content: center;margin-top: 100px;">
    <button type="submit" onclick="location.href='/views/addProducts'"
        style="border-radius: 8px;height: 25px;width: 100px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;">Volver</button>
</div>
    
</body>