body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("./images/giphy.gif");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.boton{
    background-color:rgb(202, 216, 11);
}