<form action="/api/messages" method="post" id="formulario">
    User: <input type="text" name="nombre" id="nombre">
    Message: <input type="text" name="mensaje" id="mensaje">
    <input type="submit" value="ENVIAR">
</form>
<p id="parrafo"></p>



<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>