<form action="/messages" method="post" id="formulario">
    user: <input type="email" name="user" id="user">
    message: <input type="text" name="message" id="message">
    <button type="submit" >Enviar</button>

</form>
<p id="parrafo"></p>



<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>