<form action="/messages" method="post" id="formulario">
    User: <input type="email" name="user" id="user">
    Message: <input type="text" name="message" id="message">
    <input type="submit" value="ENVIAR">
</form>
<p id="parrafo"></p>



<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>