<div style="display: flex;justify-content: center;">
    <h2 style="color: silver;text-align: center;margin-top: 100px;font-family: cursive;font-size: 45px;background-color: rgba(0, 0, 0, 0.8); display: inline-block;padding: 0.1em 0.4em;border-radius: 20px;">Change password</h2>
</div>

<div style="display: flex;justify-content: center;">
    <form action="" method="PUT" style="display: flex;justify-content: center;flex-direction: column; gap: 14px;margin-top: 7px;">
        <input style="border-radius: 8px;height: 22px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;" type="email" name="email" id="email" placeholder="Ingresa tu email..." required>
        <input style="border-radius: 8px;height: 22px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;" type="password" name="oldPassword" id="oldPassword" placeholder="Ingresa tu password..." required>
        <input style="border-radius: 8px;height: 22px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;" type="password" name="newPassword" id="newPassword" placeholder="Ingresa tu nueva password..." required>
        <div style="display:flex;justify-content:center;margin-top: 3px; gap: 3px;">
            <button type="submit" onclick="location.href='/views/login'"
            style="border-radius: 8px;height: 25px;width: 100px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;border-color: grey;font-size: 12px;">Ir
            a login</button>
            <button style="border-radius: 5px;height: 25px;width: 100px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;border-color: grey;font-size: 10px;" type="submit" id="change-password-btn">Cambiar password</button>
        </div>
    </form>    
</div>

<script src="/js/changePassword.js"></script>