<div style="display: flex;justify-content: center;">
    <h2 style="color: silver;text-align: center;margin-top: 10px;font-family: cursive;font-size: 45px;background-color: rgba(0, 0, 0, 0.7); display: inline-block;padding: 0.1em 0.4em;border-radius: 20px;">JWT</h2>
</div>

<div style="display: flex;justify-content: center;">
    <form action="" id="form" style="display: flex;justify-content: center;flex-direction: column; gap: 14px;margin-top: 7px;">
    <input type="email" name="email" id="email" placeholder="Email..." style="border-radius: 8px;height: 22px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;">
    <input type="password" name="password" id="password" placeholder="Password.." style="border-radius: 8px;height: 22px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;">
    <div style="display: flex;justify-content: center;margin-top: 10px; gap: 15px">
        <button type="submit"  style="border-radius: 8px;height: 25px;width: 100px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;">Ingresar</button>
    </div>
    </form>
</div>
<div style="display: flex;justify-content: center;margin-top: 10px; gap: 15px">
    <button id="buttonInfo" style="border-radius: 8px;height: 25px;width: 100px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;">Enviar Info</button>
</div>
<script src="/js/jwt.js"></script>