<form action="/messages" method="post" id="formulario" style="color: red;margin: 100px 0;display: flex;justify-content: center;flex-direction: column;width: 100% ;">
    <div style="display:flex ;justify-content: center;flex-direction: ;column">
    user: <input type="email" name="user" id="user" style="margin-right: 10px;" >
    message: <input type="text" name="message" id="message">
    <button type="submit" style="border-radius: 8px;height: 25px;width: 70px;background-color: #000;color: rgb(252, 2, 2);cursor: pointer;font-family: cursive;margin-left:10px ;">Enviar</button>
    </div>
</form>
<p id="parrafo" style="color: red;"></p>



<script src="/socket.io/socket.io.js"></script>
<script src="messages.js"></script>